@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Inclusive+Sans&display=swap');

:root {
  --fuente1: 'Fira Code', monospace;
  --fuente2: "Consolas, 'Courier New', monospace";
  --colorfondo1: #242424;
  --colorfondo2: #0D1117;
  --colorfondo3: #010409;
  --color1: #ffffffde;
  --color2: #646cff;
  --color3: #43474C;
  --color4: #F4BE52;
  --color5: #79C0FF;
  --color6: #8b949e;
  --color7: #bf616a;
  --colorlinea: #282D39;
  --colorfondobtn: #1a1a1a;
  --colorshadow: #1f2f3e;

}

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  background-color: var(--colorfondo3);
  font-family: var(--fuente1);
  position: absolute;
}

/* Fondo */
.background {
  background-color: var(--colorfondo2);
  padding: 0px;
  width: 1435px;
  height: 700px;
  border-radius: 8px;
  margin: 10px 35px 40px 35px;

}

/* Parte superior */
.imagen {
  height: 22px;
  width: 50px;
  margin: 5px 1px 1px 5px;
}

.linea {
  height: 30px;
  border-bottom: 2px solid var(--colorlinea);
}

header {
  height: 34px;
}

header p {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 25px;
  font-size: 14px;
  color: var(--color3);
  font-weight: bold;

}

.estiloa {
  color: var(--color1);
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  border-bottom: 8px solid var(--colorfondo2);
  background-color: var(--colorfondo3);
  text-decoration: none;
  box-shadow: 0px 10px 60px 0px var(--colorfondo3);


}

.botones {
  padding: 10px 0px 10px 0px;
  border-right: 0.7px solid var(--colorlinea);
  border-top: none;
  font-size: 13px;
  font-weight: 400;
}

.hola {
  color: var(--color4);
  background-color: var(--colorfondo2);
  padding: 10px 50px 10px 50px;
  font-size: 12px;
}

.sobremi {
  color: var(--color3);
}

a {
  padding: 10px 40px 10px 40px;
  text-decoration: none;
}

/* Parte Media */

.estilob {
  color: var(--color1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding-top: 100px;
  margin: 50px 0px 0px 0px;

}

.individual1 {
  margin: 0px 0px 50px 50px;
}

.diva {
  margin: 5px 0px 100px 50px;
}

.soy {
  margin: 0px 10px 0px 10px;
  font-size: 13px;
  font-weight: 300;

}

h1 {
  margin: 0px 10px 0px 10px;
  font-weight: 500;
  font-size: 45px;
  font-family: var(--fuente1);

}

h2 {
  margin: 0px 10px 0px 10px;
  color: var(--color5);
  font-weight: 300;
  font-size: 22px;
}

.codigo {
  margin: 0px 0px 0px 55px;
  font-size: 13px;
}

.quienes {
  margin: 0px 0px 0px 65px;
  font-size: 20px;
}

.footer {
  display: flex;
  flex-direction: row;
  color: var(--color1);
}

.lista {
  display: flex;
  flex-direction: row;
}



.recuadro1 {
  padding: 10px 15px 15px 15px;
  border: 1px solid #1b2835;
  border-radius: 10px;
  box-shadow: 1px 1px 50px 1px var(--colorshadow);
  margin: 40px 100px 10px 10px;



}

.recuadro2 {
  color: var(--color6);
  padding: 5px 5px 5px 0px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: var(--colorfondo3);
}

.proyecto1 {
  font-size: 12px;
  color: #F4BE52;
  margin: 10px 0px 15px 0px;
}

.espacio {
  padding: 10px 25px 25px 30px;
}

.espacio p {
  font-size: 15px;
}

.btn1 {
  background-color: #8a6e35;
  color: var(--colorfondo2);
  font-size: 13px;
  font-weight: 700;
  padding: 1px 300px 1px 40px;

}

.parrafo {
  margin: 110px 0px 0px 10px;
  padding: 5px;
  font-size: 12px;
}

.espaciobtn {
  margin: 0px 0px 25px 0px;
}